<h1>Listing storycreator_algorithms</h1>

<table>
  <tr>
    <th class="span2 table-header">Method name</th>
    <th class="span10 table-header">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storycreator_algorithms.each do |storycreator_algorithm| %>
  <tr>
    <td><%= link_to "#{storycreator_algorithm.method_name}",  "#"%></td>
    <td><%= storycreator_algorithm.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storycreator algorithm', new_storycreator_algorithm_path %>
